body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #282c34;
  color: white;
  padding: 1em;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.auth-section {
  margin: 20px;
  text-align: center;
}

.auth-section input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}

#bookSection {
  margin: 20px;
}

#bookList {
  list-style-type: none;
  padding: 0;
}

#bookList li {
  padding: 10px;
  margin: 5px;
  background-color: #e4e4e4;
}

form {
  margin-top: 20px;
}

form input {
  padding: 10px;
  margin: 5px;
  width: 200px;
}
